body {
  font-size: 18px;
  font-family: var(--font-family-poppins);
  line-height: 1.5;

  color: hsl(var(--hsl-white));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.4em 0;

  color: transparent;
  background: linear-gradient(
    to bottom right,
    var(--clr-primary),
    var(--clr-tertiary)
  );
  background-clip: text;
  filter: drop-shadow(hsla(var(--hsl-black), 40%) 0 0.4rem 0.6rem);

  font-family: var(--font-family-raleway);
  font-weight: 900;
  line-height: 1;
}

h1 {
  font-size: 68px;

  background: linear-gradient(
    to bottom right,
    var(--clr-primary),
    var(--clr-secondary)
  );
  background-clip: text;
}

h2 {
  font-size: 54px;
}

h3 {
  font-size: 44px;
}

h4 {
  font-size: 34px;
}

h5 {
  font-size: 28px;
}

h6 {
  font-size: 22px;
}

strong {
  color: hsl(var(--hsl-white));
}

mark {
  font-weight: 600;
  border-radius: 0.2rem;
  background: linear-gradient(
    to bottom right,
    var(--clr-primary),
    var(--clr-secondary)
  );
}

a {
  font-weight: 600;
  color: transparent;
  background: linear-gradient(
    to bottom right,
    var(--clr-primary),
    var(--clr-secondary)
  );
  text-decoration-color: var(--clr-secondary);
  background-clip: text;
}
