html {
  // --dark-grey: hsl(208, 10%, 16%);

  --clr-white: hsl(0, 0%, 95%);
  --clr-gray-900: hsl(0, 0%, 66%);
  --clr-gray-800: hsl(0, 0%, 54%);
  --clr-gray-700: hsl(0, 0%, 43%);
  --clr-gray-600: hsl(0, 0%, 34%);
  --clr-gray-500: hsl(0, 0%, 26%);
  --clr-gray-400: hsl(0, 0%, 20%);
  --clr-gray-300: hsl(0, 0%, 15%);
  --clr-gray-200: hsl(0, 0%, 11%);
  --clr-gray-100: hsl(0, 0%, 8%);
  --clr-black: hsl(0, 0%, 5%);

  --font-family-raleway: Raleway, sans-serif;
  --font-family-poppins: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
}
