---
import DefaultPage from "../layouts/DefaultPage.astro";
---

<DefaultPage title="Homepage">
  <header>Header</header>
  <main>
    <br>
    <button>Test Button</button>
    <br>
    <br>
  </main>
  <footer>
    Made by <strong>CreatorSiSo</strong>
  </footer>
</DefaultPage>
