---
import DefaultPage from '../layouts/DefaultPage.astro';

import Section from '../components/Section.astro';
import SectionGroup from '../components/SectionGroup.astro';
import MessageBox from '../components/MessageBox.astro';
import PageBanner from '../components/PageBanner.astro';
import PageBody from '../components/PageBody.astro';
import NavBar from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';

const title = 'Fake News';
const colors = {
  'clr-primary': '#52c4f9',
  'clr-secondary': '#2a5bfc',
  'clr-tertiary': '#80ff26',
};
---

<DefaultPage {title} {colors}>
  <PageBanner>
    {title}<br />
    Wem glaubst du?
  </PageBanner>
  <NavBar />
  <PageBody>
    <SectionGroup width="content">
    <h2 class="Heading">Fake News was ist das?</h2>
    <Section>
        <div class="md:flex">
          <img src="/scholz.jpg" alt="" class="md:shrink-0 h-60 md:w-1/3 object-left-top rounded-lg"/>
          <p class="md:ml-6 my-auto">
            Du hast gerade eben eine Nachricht von einem Freund darüber
            bekommen das Olaf Scholz eigentlich gar keine Glatze hat, sondern sich
            diese <strong>extra rasiert!</strong>
          </p>
        </div>
        <MessageBox level="info" slot="default">
          Bevor du das auch noch an deine Freundin weiterleitest, sollest du dir
          erst einmal die Frage stellen ob denn bei dieser Nachricht auch alles
          stimmt.
        </MessageBox>
        <p>
          Diese Art von politischem Informationsaustausch ist immer normaler
          geworden, vor allem Jugendlichen und jungen Erwachsenen.
        </p>
        <p>
          Trotzdem informieren sich laut einer Vodafon Stiftung Studie aus dem
          Jahr 2019 fast 75% der 14 bis 24 Jährigen mindestens wöchentlich über
          die aktuelle Politik.
        </p>
        <p>
          Die übrig bleibenden 25%, welche hauptsächlich aus Personen mit wenig
          Interesse für Politik und niedrigem Bildungshintergrund bestehen,
          fühlen sich oft mit der Überprüfung dieser Fakten unsicher.
        </p>
        <p>
          Aber auch jeder andere kann auf eine gezielte Falschnachricht (
          <mark>Fake News</mark>) hereinfallen, denn wenn man diese nicht früh
          genug erkennt, verbreitet man am Ende selbst weiter.
        </p>
      </Section>
    </SectionGroup>
    <SectionGroup width="content">
      <h2 class="Heading">Wie kann man Fake News erkennen?</h2>
      <Section>
        <span>
          <a href="/youtube">Tips für Youtube</a>
        </span>
        <!-- <span>
          <a href="/messenger">Tips für Messegers und Chats</a>
        </span> -->
      </Section>
    </SectionGroup>
  </PageBody>
  <Footer />
</DefaultPage>
