---
const year = new Date().getFullYear();
---

<footer class="py-12 space-y-6 text-center">
  <div>Made by <strong>CreatorSiSo</strong> © {year}</div>
  <div class="space-x-2">
    <a href="/impressum">Impressum</a>
    <a href="/sources">Quellen</a>
  </div>
</footer>

<style lang="scss">
  footer {
    background-color: hsl(var(--hsl-gray-100));
  }
</style>
