---
const { title } = Astro.props;
---

<section class="h-screen">
  <h1><slot></slot></h1>
  <div></div>
</section>

<style lang="scss">
  section {
    position: relative;
    display: flex;
    place-content: center;
    overflow: hidden;
    text-align: center;

    div {
      transform-origin: center top;
      background-color: hsl(var(--hsl-black));
      background-image: url(/yt-screenshot.png);
      background-position: center top;
      background-repeat: repeat;
      filter: blur(1rem) brightness(40%);
      position: absolute;
      inset: 0;
      z-index: -1;
    }

    h1 {
      margin: auto 0;
      padding: 2em 0;
      font-size: 4.6rem;
      line-height: 1.2;
      background: linear-gradient(
          to bottom right,
          var(--clr-primary),
          var(--clr-secondary)
        )
        text;
      filter: drop-shadow(hsl(var(--hsl-black)) 0 0.5rem 1rem);
    }
  }
</style>
