<section>
  <div class="content">
    <slot></slot>
  </div>
</section>

<style lang="scss">
  section {
    display: flex;
    padding: 0 2rem;
    text-align: justify;

    .content {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
</style>
